In [104]:
import pandas as pd
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, RobustScaler
from sklearn.decomposition import PCA
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score, StratifiedKFold, train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import joblib
import warnings
warnings.filterwarnings('ignore')
# Importar bibliotecas necesarias
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor


df = pd.read_csv("titanic.csv")

--------------------PREPARAMOS LOS DATOS-----------------------------

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

----TRATAMOS NULLS

In [106]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [107]:
#Tratamos variables nulls de edad
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

----------------------PREDECIMOS EDAD ----------------------

In [108]:
from sklearn.linear_model import LinearRegression


# Imputación de AGE con regresión lineal
train = df[df['Age'].notna()]
test = df[df['Age'].isna()]

cols = ['Survived', 'Pclass','SibSp','Parch', 'Fare']
x_train = train[cols]
y_train = train['Age']
x_test = test[cols]

reg = LinearRegression()
reg.fit(x_train, y_train)
y_pred = reg.predict(x_test)

df.loc[df['Age'].isna(), 'Age'] = y_pred

# Imputar Embarked con moda
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

# Imputar Cabin con 'Desconocido'
df['Cabin'] = df['Cabin'].fillna('Desconocido')

In [109]:
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

------------PKL DE CATEGORIAS----------

In [110]:
category_options = {
    'Sex': list(df['Sex'].unique()),  
    'Embarked': list(df['Embarked'].unique()), 
    'Ticket': list(df['Ticket'].unique()), 
    'Cabin': list(df['Cabin'].unique())
}
joblib.dump(category_options, 'categoria_opciones.pkl')

['categoria_opciones.pkl']

------------------------ESCALAMOS LSO DATOS ---------------

In [111]:
# Escalar todas las características con RobustScaler (no guardado)
from sklearn.preprocessing import OrdinalEncoder

# conversion de categoricos
cat_cols = ['Sex', 'Embarked', 'Ticket','Cabin'] 

encoder = OrdinalEncoder()
df[cat_cols] = encoder.fit_transform(df[cat_cols])
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1.0,22.0,1,0,523.0,7.2500,115.0,2.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.0,38.0,1,0,596.0,71.2833,81.0,0.0
2,3,1,3,"Heikkinen, Miss. Laina",0.0,26.0,0,0,669.0,7.9250,115.0,2.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.0,35.0,1,0,49.0,53.1000,55.0,2.0
4,5,0,3,"Allen, Mr. William Henry",1.0,35.0,0,0,472.0,8.0500,115.0,2.0

-----------------------PKL TEXTO CONVERTIDO A NUMERICO------------

In [112]:
joblib.dump(encoder, 'encoder.pkl')

['encoder.pkl']

---------------------SELECCIONAMOS VARIABLES----------------

-----

In [113]:
# Preparar X e y
x = df.drop(['Survived', 'Name', 'PassengerId',], axis=1)
y = df['Survived']

In [114]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

model = LinearRegression()
rfe = RFE(estimator=model, n_features_to_select=9)
x_rfe = rfe.fit_transform(x, y)
selected_features = x.columns[rfe.support_].tolist()

x_selected = x[selected_features]
print("Características seleccionadas por RFE:", selected_features)

Características seleccionadas por RFE: ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

----------------------STANDARIZAMOS----------------

In [115]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x_selected)
x_scaled_df = pd.DataFrame(x_scaled, columns=selected_features, index=x.index)

In [116]:
# Definir características finales
features = ['Sex', 'Ticket', 'Age', 'Fare', 'Pclass', 'SibSp', 'Title', 'FamilySize']
X_selected = X_all_scaled[features].copy()
X_selected.head()

   Sex    Ticket       Age      Fare  Pclass  SibSp  Title  FamilySize
0  0.0  0.515235 -0.409929 -0.312011     0.0    1.0    0.0         1.0
1 -1.0  0.717452  0.605944  2.461242    -2.0    1.0    1.0         1.0
2 -1.0  0.919668 -0.155961 -0.282777     0.0    0.0   -1.0         0.0
3 -1.0 -0.797784  0.415468  1.673732    -2.0    1.0    1.0         1.0
4  0.0  0.373961  0.415468 -0.277363     0.0    0.0    0.0         0.0

--------------------PKL SCANDER---------

In [117]:
joblib.dump(scaler, 'datos_scaler.pkl')

['datos_scaler.pkl']

--------------------------------------------APLICAMOS PCA-----------------------

In [118]:
# Aplicar PCA sobre las características seleccionadas
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns

# Aplicar PCA
pca = PCA(n_components=8)
principalComponents = pca.fit_transform(x_scaled_df) 
principalDf = pd.DataFrame(data=principalComponents, columns=['PC1', 'PC2', 'PC3', 'PC4', 'PC5', 'PC6', 'PC7', 'PC8'])
principalDf = pd.concat([principalDf, df[['Survived']]], axis=1)
principalDf.info()
principalDf.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   PC1       891 non-null    float64
 1   PC2       891 non-null    float64
 2   PC3       891 non-null    float64
 3   PC4       891 non-null    float64
 4   PC5       891 non-null    float64
 5   PC6       891 non-null    float64
 6   PC7       891 non-null    float64
 7   PC8       891 non-null    float64
 8   Survived  891 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 62.8 KB

,PC1,PC2,PC3,PC4,PC5,PC6,PC7,PC8,Survived
0,1.519204,-0.168116,-0.255512,0.842449,0.206460,-0.522383,-0.025251,-0.229685,0
1,-2.171925,0.653143,-2.116011,-0.333917,-0.610198,-0.367912,0.711483,-0.929617,1
2,1.247196,0.013408,-0.848637,-0.358810,-1.691770,-0.938314,-0.359254,-0.398621,1
3,-2.528821,0.320466,1.446992,-0.620061,-0.112601,-1.185626,-0.058811,-0.966258,1
4,1.065790,-1.074616,-0.151047,0.662309,-0.320651,0.030186,-0.173193,-0.064106,0

------------------PKL PCA----------

In [119]:
# Obtener los loadings de los componentes principales
loadings = pca.components_
loadings_df = pd.DataFrame(loadings, columns=x_scaled_df.columns)
print(loadings_df)

     Pclass       Sex       Age     SibSp     Parch    Ticket      Fare  \
0  0.565406  0.125979 -0.314383  0.095574 -0.002793  0.242195 -0.444571
1  0.011097 -0.352806 -0.408914  0.553790  0.549898  0.083466  0.297231
2 -0.127699  0.012162  0.066462  0.130520  0.185654 -0.640912 -0.182531
3 -0.081792  0.647746  0.184799  0.266084  0.092418  0.465407  0.270722
4  0.050243  0.575622 -0.416845  0.269910 -0.160366 -0.448233 -0.059990
5  0.101151  0.250862  0.472112 -0.080500  0.684114 -0.136520 -0.165735
6 -0.214229 -0.064965  0.345442  0.553384 -0.365067 -0.096830  0.131677
7 -0.105239  0.187208 -0.311053 -0.455598  0.099105 -0.148045  0.585380

      Cabin  Embarked
0  0.499303  0.225524
1 -0.037717 -0.048860
2 -0.006269  0.695341
3 -0.161193  0.379955
4 -0.172793 -0.399296
5  0.222547 -0.365816
6  0.590090 -0.126991
7  0.517098  0.088058

In [120]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
# Dividir en conjunto de entrenamiento y conjunto de pruebas
X_train, X_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2, random_state=42)

pca = PCA(n_components=8)
X_train_pca = pca.fit_transform(X_train)
X_test_pca = pca.transform(X_test)

# Crear el clasificador
clf = RandomForestClassifier( n_estimators=400, max_depth=25, min_samples_split=4, min_samples_leaf=2, max_features='sqrt', n_jobs=-1,random_state=42)
clf.fit(X_train_pca, y_train)


joblib.dump(clf, 'modelo_final_randomFores.pkl')

# Evaluar el rendimiento del clasificador
score = clf.score(X_test_pca, y_test)
print("Accuracy:", score)

Accuracy: 0.8603351955307262

---------------------------CODIFICAMOS Y ESCALAMOS-----------------

In [121]:
# Varianza explicada por cada componente
explained_variances = pca.explained_variance_ratio_

# Varianza acumulada
cumulative_variance = np.cumsum(explained_variances)

print("Varianza explicada por cada componente:")
print(explained_variances)

print("Varianza acumulada:")
print(cumulative_variance)

# Verificar cuántas componentes capturan el 95% de la varianza
num_components_for_95_variance = np.argmax(cumulative_variance >= 0.95) + 1
print(f"Se necesitan {num_components_for_95_variance} componentes para capturar el 95% de la variabilidad.")

Varianza explicada por cada componente:
[0.26551462 0.21746153 0.1161439  0.10338358 0.08882706 0.06606881
 0.05657291 0.05488364]
Varianza acumulada:
[0.26551462 0.48297614 0.59912004 0.70250362 0.79133068 0.85739949
 0.9139724  0.96885604]
Se necesitan 8 componentes para capturar el 95% de la variabilidad.

In [122]:
explained_variances

array([0.26551462, 0.21746153, 0.1161439 , 0.10338358, 0.08882706,
       0.06606881, 0.05657291, 0.05488364])